<mat-card class="product-card" *ngIf="this.product">
  <div>
    <mat-card-header>
      <mat-card-title class="product-card-name">{{this.product.name}}</mat-card-title>
    </mat-card-header>
    <hr>
  </div>
  <mat-card-content *ngIf="!this.simple">
    <b class="product-card-brand">Brand:</b>
    <p>{{this.product.brand}}</p>
    <b class="product-card-store">Store:</b>
    <p>{{this.product.store}}</p>
    <b class="product-card-category">Category:</b>
    <p>{{this.product.category}}</p>
    <b class="product-card-location">Location:</b>
    <p>{{this.product.location}}</p>
    <b class="product-card-lifespan">Lifespan:</b>
    <p>{{this.product.lifespan}}</p>
    <b class="product-card-threshold" data-test="thresholdTest">Threshold:</b>
    <p>{{this.product.threshold}}</p>
    <div>
      <b>Description:</b>
      <p class="product-card-description">{{this.product.description}}</p>
    </div>
    <div>
      <b>Notes:</b>
      <p class="product-card-notes">{{this.product.notes}}</p>
    </div>
  </mat-card-content>
</mat-card>
