<mat-card class="product-card" *ngIf="this.product">
  <mat-card-header>
    <mat-card-title class="product-card-name">{{this.product.name}}</mat-card-title>
    <mat-card-subtitle class="product-card-brand">{{this.product.brand}}</mat-card-subtitle>
    <mat-card-subtitle class="product-card-description">{{this.product.description}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="!this.simple">
    <h4 class="product-card-category">Category: {{this.product.category}}</h4>
    <h4 class="product-card-store">Store: {{this.product.store}}</h4>
    <p class="product-card-location">Location: {{this.product.location}}</p>
    <h3 class="product-card-lifespan">Lifespan: {{this.product.lifespan}}</h3>
    <h3 class="product-card-threshold">Threshold: {{this.product.threshold}}</h3>

    <div>
      <h4>Notes</h4>
      <p class="product-card-notes">{{this.product.notes}}</p>
    </div>
  </mat-card-content>
</mat-card>
